

<h1> Your driver is <%= @ride.driver %> </h1>
<h2> Driving in a <%= @ride.ride %> </h2>
<h3> Pick up planet is <%= @ride.pick_up %> </h3>
<h3> Drop off planet is <%= @ride.drop_off %> </h3>
<br>
<br>
<img src="http://www.dontwasteyourtime.co.uk/wp-content/uploads/2010/05/imgphp.png" alt="" height="140" width="140">
<br>
<h3> Price will be <%= Price.new.get_full_price %> Credits </h3>
<br>
<span>Ticket number: <%= @ride.ticket_number %> </span>
<br>
<br>
