

<h1> Your driver is <%= @ride.driver %> </h1>
<h2> Driving in a <%= @ride.ride %> </h2>
<h3> Pick up planet is <%= @ride.pick_up %> </h3>
<h3> Drop off planet is <%= @ride.drop_off %> </h3>
<br>
<br>
<h3> Price will be <%= Price.new.get_full_price %> Credits </h3>
<br>
<span>Ticket number: <%= @ride.ticket_number %> </span>
<br>
<br>
<img src="https://www.shopify.com/growth-tools-assets/qr-code/shopify-faae7065b7b351d28495b345ed76096c03de28bac346deb1e85db632862fd0e4.png" alt="" height="60" width="60">
